@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.mx-auto {
    margin: 0;
}

.py-20 {
    padding-top: 0;
}

.max-w-2xl {
    max-width: 100%;
    max-height: auto;
}

#social-updates {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#social-updates .left-updates {
    margin-top: 30px;
    margin-right: auto;
    width: 400px;
    height: auto;
}

#social-updates .middle-updates {
    margin-top: 30px;
    margin-right: auto;
    width: 400px;
    height: auto;    
}

#social-updates .right-updates {
    margin-top: 30px;
    width: 400px;
    height: auto;
}
